@model PieListViewModel



<div class="row">
    <h1>@Model.CurrentCategory</h1>
    @foreach (var pie in Model.Pies)
    {
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="thumbnail">
                <img src="@pie.ImageThumbnailUrl" alt="Alternate Text" />
                <div class="caption">
                    <div>
                        <h3>
                            <a> @pie.Name </a>
                        </h3>
                    </div>
                    <div>
                        <h3 class="float-start">
                            @pie.Price.ToString("c")
                        </h3>
                    </div>
                    <p> @pie.ShortDescription </p>
                </div>
            </div>
        </div>
    }

</div>


